.selectRow {
  max-width: 5rem;
}

.numactaRow{
  max-width: 7rem;
  justify-content: center;
}

.servicioRow {
  max-width: 10rem;
}

.clientRow {
  max-width: 100rem;
}

.tipoRow {
  max-width: 15rem;
}

.clientRowEncabezado
{
  justify-content: left;
  //justify-content:center;
}
