.cdk-column-actions {
  max-width: 5rem;
}

.cdk-column-acta_inicial,
.cdk-column-acta_final,
.cdk-column-comprobadas,
.cdk-column-total {
  max-width: 7rem;
  justify-content: center;
}

.cdk-column-formato {
  align-self: center;
  justify-content: center;
}
