.wrapper {
  margin: 1rem 0;
}

.inner-wrapper {
  display: grid;
  grid-row-gap: 1rem;
}

.itm-tecnicos,
.itm-carac {
  display: flex;
  align-items: baseline;

  .itm-input {
    flex: 1;
    margin-right: 0.75rem;
  }
}

.nRow {
  max-width: 10rem;
}

.actionsRow {
  max-width: 5rem;
}
