<h1 mat-dialog-title>Registro de nuevo servicio </h1>
<div mat-dialog-content>

    <div class="wrapper">

        <mat-form-field class="w-100">
            <input matInput placeholder="OT" value="">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Ticket" value="">
        </mat-form-field>
        
    </div>
</div>
<div mat-dialog-actions class="d-flex">
    <button mat-button matDialogClose color="primary" class="ml-auto">CANCELAR</button>
    <button mat-raised-button matDialogClose color="primary">AGREGAR</button>
</div>