<mat-card class="mat-elevation-z8">
    <mat-card-header class="d-flex">
        <mat-card-title class="ml-0">Mis Servicios</mat-card-title>

        <button mat-icon-button color="primary" matTooltip="Descargar archivo excel" class="ml-auto" (click)="exportAsExcel()"><i
                class="far fa-file-download action-icon"></i></button>
        <button mat-icon-button color="primary" matTooltip="Actualizar" (click)="ActualizarTabla()"><i class="far fa-sync action-icon"></i></button>
    </mat-card-header>
    <mat-card-content class="">

        <mat-form-field class="w-100">
            <input matInput placeholder="Buscar" (keyup)="busqueda($event.target.value)" value="">
        </mat-form-field>

        <mat-table #table matSort [dataSource]="dataSource">

            <ng-container cdkColumnDef="fecha_programada">
                <mat-header-cell *cdkHeaderCellDef mat-sort-header class="citaRow"> Cita </mat-header-cell>
                <mat-cell *cdkCellDef="let row" class="citaRow">
                    <span class="mobile-label">Cita:</span>

                    <button mat-icon-button color="primary" class="" *ngIf="row.fecha_programada" [matTooltip]="row.fecha_programada"
                        (click)="dialogoFecha(row)">
                        <i class="far fa-calendar-check action-icon"></i></button>

                    <button mat-icon-button color="warn" class="" *ngIf="!row.fecha_programada" matTooltip="No tiene cita agendada">
                        <i class="far fa-calendar-times action-icon"></i></button>
                </mat-cell>
            </ng-container>

            <ng-container cdkColumnDef="dias">
                <mat-header-cell *cdkHeaderCellDef mat-sort-header class="diasRow"> Días </mat-header-cell>
                <mat-cell *cdkCellDef="let row" class="diasRow">
                    <span class="mobile-label">Días:</span>
                    <span [ngClass]="claseDias(row.dias)">{{row.dias}}</span>
                </mat-cell>
            </ng-container>


            <ng-container cdkColumnDef="folio">
                <mat-header-cell *cdkHeaderCellDef mat-sort-header> Folio </mat-header-cell>
                <mat-cell *cdkCellDef="let row">
                    <span class="mobile-label">Folio:</span>
                    {{row.folio}}
                </mat-cell>
            </ng-container>

            <ng-container cdkColumnDef="tiposervicio">
                <mat-header-cell *cdkHeaderCellDef mat-sort-header class="tipoServicioRow"> Tipo Servicio </mat-header-cell>
                <mat-cell *cdkCellDef="let row" class="tipoServicioRow">
                    <span class="mobile-label">Tipo de Servicio:</span>
                    {{row.tiposervicio}}
                </mat-cell>
            </ng-container>

            <ng-container cdkColumnDef="cliente">
                <mat-header-cell *cdkHeaderCellDef mat-sort-header class=""> Cliente </mat-header-cell>
                <mat-cell *cdkCellDef="let row" class="">
                    <span class="mobile-label">Cliente:</span>
                    {{row.cliente}} - {{row.sucursal}}
                </mat-cell>
            </ng-container>

            <ng-container cdkColumnDef="estatus">
                <mat-header-cell *cdkHeaderCellDef mat-sort-header class="estatusRow"> Estatus </mat-header-cell>
                <mat-cell *cdkCellDef="let row" class="estatusRow">
                    <span class="mobile-label">Estatus:</span>
                    {{row.estatus}}
                </mat-cell>
            </ng-container>

            <ng-container cdkColumnDef="actions">
                <mat-header-cell *cdkHeaderCellDef class="actionsRow"> </mat-header-cell>
                <mat-cell *cdkCellDef="let row" class="actionsRow">
                    <span class="mobile-label">Acciones:</span>

                    <button mat-icon-button color="primary" class="ml-auto" matTooltip="Seguimiento de servicio"
                        (click)="dialogoSeguimiento(row)">
                        <i class="far fa-newspaper action-icon"></i>
                    </button>

                    <button mat-icon-button color="primary" matTooltip="Ver Historico" (click)="dialogoHistorico(row)">
                        <i class="far fa-comments action-icon" matBadge="{{ row.actualizaciones }}" matBadgeColor="warn" matBadgeOverlap="true"
                            matBadgeSize="small"></i></button>

                    <!--<button mat-icon-button color="primary" matTooltip="Eliminar servicio" (click)="deleteService(row)">
                        <i class="far fa-trash action-icon"></i>
                    </button> -->
                </mat-cell>
            </ng-container>

            <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *cdkRowDef="let row; columns: displayedColumns ">
            </mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

    </mat-card-content>

</mat-card>