<h1 mat-dialog-title>Validación del Acta {{datosActa.numacta}}</h1>
<div mat-dialog-content>

    <div class="wrapper" [formGroup]="generalForm">

        <mat-form-field class="w-100">
            <mat-select placeholder="Seleccione Motivo" name="item" formControlName="motivo_id">
                <mat-option *ngFor="let motivo of motivosList" [value]="motivo.id" [hidden]="recibida==0 && motivo.id!=16">
                    {{motivo.nombre}}
                </mat-option>
            </mat-select>
            <mat-error
                *ngIf="(generalGetter('motivo_id').dirty || generalGetter('motivo_id').touched) && generalGetter('motivo_id').invalid && generalGetter('motivo_id').errors.required">
                Campo requerido
            </mat-error>
        </mat-form-field>

    </div>

</div>
<div mat-dialog-actions class="d-flex">
    <button mat-button matDialogClose color="primary" class="ml-auto">CANCELAR</button>
    <button mat-raised-button (click)="validar()" color="primary">VALIDAR</button>
</div>