<mat-card>
    <mat-card-header>
        <mat-card-title>Nuevo Folio</mat-card-title>
    </mat-card-header>
    <div class="wrapper" [formGroup]="generalForm">

        <div class="sec-folio">

            <mat-form-field class="itm-folio">
                <input matInput placeholder="Folio" [value]="hoy" [disabled]="true" formControlName="folio">
            </mat-form-field>

        </div>

        <mat-divider>
        </mat-divider>

        <div class="sec-datos">

            <div class="itm-archivo">
                <!--<mat-form-field class="itm-input">
                    <input matInput placeholder="Archivo de solicitud" [value]="fileName" readonly
                        [(ngModel)]="fileName">
                    <input type="file" name="solicitud" #aSolicitud hidden="true" (change)="fileChange($event)">
                </mat-form-field>-->
               <mat-form-field class="itm-input">
                    <input matInput placeholder="Archivo de solicitud" [value]="fileName" readonly>
                    <input type="file" formControlName="archivo" name="solicitud" #aSolicitud hidden="true" (change)="fileChange($event)">
                </mat-form-field>

                <button matSuffix mat-flat-button color="primary" (click)="aSolicitud.click()"
                    class="itm-btn">Seleccionar
                    archivo</button>
            </div>

            <mat-form-field>
                <input matInput [matDatepicker]="fProgramada" [min]="minDate"  placeholder="Fecha Programada"
                    formControlName="fecha_programada" (click)="fProgramada.open()">
                <mat-datepicker-toggle matSuffix [for]="fProgramada"></mat-datepicker-toggle>
                <mat-datepicker #fProgramada></mat-datepicker>
            </mat-form-field>


            <mat-form-field>
                <mat-select placeholder="Medio" name="medio" formControlName="medio_id">
                    <mat-option *ngFor="let medio of mediosList" [value]="medio.id"
                        (click)="selectActualizaForm(medio, 2)">
                        {{medio.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        <!--
            <mat-form-field>
                <mat-select placeholder="Cliente" formControlName="cliente_id"
                    (selectionChange)="selectRegistro($event, 1)">
                    <mat-option>
                        <ngx-mat-select-search [placeholderLabel]="'Busca un Cliente'"
                            [noEntriesFoundLabel]="'No se encontraron registros'" [formControl]="clienteFilteringCtrl"
                            [searching]="searching" (keydown.enter)="filtrarPor(1, $event.target.value)">
                        </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let cliente of filteredClientes | async" [value]="cliente.id"
                        (click)="selectActualizaForm(cliente, 1)">
                        {{cliente.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        -->
    <!--Rlf ---------------------------------------------------------------------------------------------------->    
            <mat-form-field class="itm-cliente">
                <mat-select formControlName="cliente_id" placeholder="Cliente" #singleSelect>
                    <mat-option>
                        <ngx-mat-select-search [placeholderLabel]="'Busca un Cliente'" [formControl]="clientFilterCtrl" 
                            [noEntriesFoundLabel]="'No se encontraron registros'" (keyup)="filtrarPor(1, $event.target.value)">
                        </ngx-mat-select-search>
                    </mat-option>
                
                    <mat-option *ngFor="let cliente of filteredClientes | async" [value]="cliente.id" 
                    (click)="selectRegistro(cliente, 1)">
                        {{cliente.id}} - {{cliente.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
    <!--Rlf  ---------------------------------------------------------------------------------------------------->
            <div class="itm-sucursal">
                <mat-form-field class="itm-input">
                    <mat-select formControlName="sucursal_id" placeholder="Sucursal" class="">
                        <mat-option>
                            <ngx-mat-select-search [placeholderLabel]="'Busca una Sucursal'"
                                [noEntriesFoundLabel]="'No se encontraron registros'"
                                [formControl]="sucursalFilteringCtrl" [searching]="searching"
                                (keydown.enter)="filtrarPor(2, $event.target.value)">
                            </ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let sucursal of filteredSucursales | async" [value]="sucursal.id"
                            (click)="selectRegistro(sucursal, 2)">
                            {{sucursal.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <button mat-mini-fab color="primary" class="itm-btn" (click)="dialogoSucursal()"
                    matTooltip="Servicios Activos">
                    {{ sucursalFolioList.length }}
                </button>

            </div>

            <mat-form-field class="w-100">

                <mat-select placeholder="Tipo de servicio" formControlName="tiposervicio_id">
                    <!-- place ngx-mat-select-search inside mat-option to allow opening without initial selection -->
                    <mat-option>
                        <ngx-mat-select-search [placeholderLabel]="'Busca un tipo de servicio'"
                            [noEntriesFoundLabel]="'No se encontraron registros'" [formControl]="servicioFilteringCtrl"
                            [searching]="searching" (keydown.enter)="filtrarPor(3, $event.target.value)">
                        </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let servicio of filteredServicios | async" [value]="servicio.id"
                        (click)="selectActualizaForm(servicio, 4); selectRegistro(servicio, 3);">
                        {{servicio.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="w-100">

                <mat-select formControlName="coordinador_id" placeholder="Coordinador">
                    <!-- place ngx-mat-select-search inside mat-option to allow opening without initial selection -->
                    <mat-option>
                        <ngx-mat-select-search [placeholderLabel]="'Busca un Coordinador'"
                            [noEntriesFoundLabel]="'No se encontraron registros'"
                            [formControl]="coordinadorFilteringCtrl" [searching]="searching"
                            (keydown.enter)="filtrarPor(4, $event.target.value)">
                        </ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let coordinador of filteredCoordinadores | async" [value]="coordinador.id"
                        (click)="selectActualizaForm(coordinador, 5)">
                        {{coordinador.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="OT" value="" formControlName="ot">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Ticket" value="" formControlName="ticket">
            </mat-form-field>
        </div>

        <mat-divider>
        </mat-divider>

        <div class="sec-servicios">

            <h6 class="mt-3">Servicios y/o Refacciones</h6>

            <button color="primary" class="btn-servicios ml-auto" mat-raised-button
                (click)="dialogoAgregarProductos()">Agregar
                productos <mat-icon><i class="fas fa-plus action-icon action-icon-button"></i></mat-icon></button>

            <mat-card class="mat-elevation-z8 mb-4 itm-lista p-0">

                <mat-table #tableTras [dataSource]="dataSourceServ" class="list lista-servicios">

                    <ng-container cdkColumnDef="codigo">
                        <mat-header-cell *cdkHeaderCellDef class="codigoRow"> Código </mat-header-cell>
                        <mat-cell *cdkCellDef="let row" class="codigoRow">
                            <span class="mobile-label">Código:</span>
                            {{row.codigo}} </mat-cell>
                    </ng-container>

                    <ng-container cdkColumnDef="concepto">
                        <mat-header-cell *cdkHeaderCellDef> Concepto </mat-header-cell>
                        <mat-cell *cdkCellDef="let row">
                            <span class="mobile-label">Concepto:</span>
                            {{row.concepto}} </mat-cell>
                    </ng-container>

                    <ng-container cdkColumnDef="cantidad">
                        <mat-header-cell *cdkHeaderCellDef class="cantidadRow"> Cantidad
                        </mat-header-cell>
                        <mat-cell *cdkCellDef="let row" class="cantidadRow">
                            <span class="mobile-label">Cantidad:</span>
                            {{row.cantidad}}
                        </mat-cell>
                    </ng-container>

                    <ng-container cdkColumnDef="precio">
                        <mat-header-cell *cdkHeaderCellDef class="precioURow"> P. Unitario
                        </mat-header-cell>
                        <mat-cell *cdkCellDef="let row" class="precioURow">
                            <span class="mobile-label">P. Unitario:</span>
                            ${{row.precio}}
                        </mat-cell>
                    </ng-container>

                    <ng-container cdkColumnDef="importe">
                        <mat-header-cell *cdkHeaderCellDef class="importeRow"> Importe
                        </mat-header-cell>
                        <mat-cell *cdkCellDef="let row" class="importeRow">
                            <span class="mobile-label">Importe:</span>
                            {{row.precio * row.cantidad | currency}}
                        </mat-cell>
                    </ng-container>

                    <ng-container cdkColumnDef="actions">
                        <mat-header-cell *cdkHeaderCellDef class="actionsRow"> </mat-header-cell>
                        <mat-cell *cdkCellDef="let row" class="actionsRow">
                            <span class="mobile-label">Acciones:</span>
                            <button mat-icon-button color="warn" (click)="deteleFrom(row)"><i
                                    class="far fa-trash-alt action-icon"></i></button>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *cdkHeaderRowDef="displayedColumnsServ"></mat-header-row>
                    <mat-row *cdkRowDef="let row; columns: displayedColumnsServ ">
                    </mat-row>
                </mat-table>

            </mat-card>

        </div>

        <mat-divider>
        </mat-divider>

        <div class="sec-descripcion">

            <h6 class="mt-3">Descripción</h6>

            <mat-form-field>
                <textarea matInput cdkAutosizeMaxRows="3" cdkAutosizeMinRows="3" cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize" placeholder="Descripción del problema"
                    formControlName="descripcion"></textarea>
            </mat-form-field>


            <mat-form-field>
                <textarea matInput cdkAutosizeMaxRows="5" cdkAutosizeMinRows="5" cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize" placeholder="Observaciones"
                    formControlName="observaciones"></textarea>
            </mat-form-field>

        </div>

        <div class="d-flex">
            <button mat-raised-button color="accent" class="ml-auto" (click)="previsualizar()">PREVISUALIZAR</button>
            <button mat-raised-button color="primary" class="ml-3" (click)="Guardar()">GENERAR SERVICIO</button>
        </div>

    </div>
</mat-card>