 .medioRow {
    max-width: 10rem;
  }

  .clienteRow {
    max-width: 15rem;
  }

  .sucursalRow {
    max-width: 15rem;
  }

  .servicioRow {
    max-width: 15rem;
  }

  .coordinadorRow {
    max-width: 8rem;
  }

  .otRow {
    max-width:  5rem;
  }

  .ticRow {
    max-width:  5rem;
  }

  .desRow {
    max-width:  15rem;
  }

  .obsRow {
    max-width:  15rem;
  }

  
