<h1 mat-dialog-title>Motivo del estatus {{estatus}} </h1>
<div mat-dialog-content>

    <div class="wrapper">
        <div class="sec-datos" [formGroup]="generalForm">

            <mat-form-field class="itm-traslado w-100">
                <mat-select placeholder="Seleccione motivo" formControlName="motivo_id">
                    <mat-option *ngFor="let motivo of motivosList" [value]="motivo.id">
                            {{motivo.nombre}}
                    </mat-option>
                </mat-select>
                <mat-error
                    *ngIf="(generalGetter('motivo_id').dirty || generalGetter('motivo_id').touched) && generalGetter('motivo_id').invalid && generalGetter('motivo_id').errors.required">
                    Campo requerido
                </mat-error>
            </mat-form-field>
        </div>
    </div>
</div>
<div mat-dialog-actions class="d-flex">
    <button mat-button (click)="cancelar()" color="primary" class="ml-auto">CANCELAR</button>
    <button mat-raised-button (click)="guardar()" color="primary">GUARDAR</button>
</div>