.numeroRow {
    max-width: 7rem;
}

.actionsRow {
    max-width: 7rem;
}

.folioRow {
    max-width: 10rem;
}

.tipoServicio {
    max-width: 10rem;
}

.clienteRow {
    max-width: 37rem;
}

.estatusRow {
    max-width: 7rem;
}

.fechaReg {
    max-width: 7rem;
}