 .numeroRow {
    max-width: 6rem;
  }
  
  .actionsRow {
    max-width: 7rem;
  }
  
  .folioRow {
    max-width: 10rem;
  }
  
  .tipoServicioRow {
    max-width: 10rem;
  }
  .clienteRow {
    max-width: 18rem;
  }
  
  .selectRow{
    max-width: 6rem;
  }
  