.icon-menu {
    position: absolute;
    left: 1rem;
}

.menu-title {
    margin-left: 2rem;
}

.mat-dropdown-list{
    button {
        height: 40px;
    }

    mat-icon {
        order: 3;
    }

    mat-label {
        flex: 1 1 auto;
    }
}



.menu-toggle-list {
    list-style: none;
    padding: 0;
    position: relative;
    overflow: hidden;
    transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
    transition-property: max-height;


    &.oculto {
        max-height: 0 !important;
    }
}

.mat-list-base {
    padding-top: 0 !important;
}
